/* Reset Rules */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



html{
	font-family: 'Open Sans', sans-serif;

}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

/* Variabili e riciclo */

:root{
    --color-hero:rgba(180, 208, 231, 1)
}

.def-buttons{
    background-color: rgba(0, 97, 255, 1);
    padding: 8px;
    color: white;
    border: 0px;
}

/* LAYOUT */


.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-33{
    width: calc(100%/3);
}

.col-66{
    width: calc((100%/3)*2);
}

/* Navbar */


header{
    background-color: white;
}

.container-full{
    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}


/* hero */

.img-hero{
    width: 100%;
}

.title{
    font-size: 80px;
    padding: 40px 0px;
}

.hero{
    background-color: var(--color-hero);
}

.arrow{
    font-size: 42px;
}

.text-1>*{
    margin-bottom: 35px;
}