/* Reset Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Variabili e riciclo */

:root {
  --color-hero: rgba(180, 208, 231, 1);
  --blue: #0061ff;
  --light-blue: #b4d0e7;
  --light-gray: #f5f5f5;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  line-height: 44px;
  padding: 0px 16px;
  text-align: center;
  border: 0;
}

/* LAYOUT */

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.row > * {
  padding: 0px 25px;
}

.row.no-gutter > * {
  padding: 0px;
  display: block;
}

.col-100 {
  width: 100%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-66 {
  width: calc((100% / 3) * 2);
}

.col-60{
  width: calc((100%/10)*6);
}

.col-40{
  width: calc((100%/10)*4) ;
}

.col-50{
  width: 50%;
}
/* Navbar */

header {
  padding: 18px 14px;
  font-size: 14px;
}

.page-header {
  padding: 18px 14px;
  font-size: 14px;
}

.navbar .row {
  justify-content: space-between;
  align-items: center;
}

.navbar .menu {
  display: flex;
  align-items: center;
}

.navbar .menu a {
  display: block;
  line-height: 34px;
  padding: 0px 16px;
}

.navbar .menu a:not(.btn):hover {
  color: var(--blue);
}

.navbar .menu .logo-wrapper {
  padding-left: 0;
}

/* hero */

.hero {
  background-color: var(--light-blue);
  padding-top: 80px;
  padding-bottom: 20px;
}

.hero__title {
  font-size: 70px;
}

.hero .row + .row {
  margin-top: 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.hero__icon {
  font-size: 50px;
  margin-top: auto;
}

.hero__image {
  width: 100%;
}

/* CARDS */

.plans .card {
  border: 2px solid rgba(235, 235, 237, 1);
  min-height: 200px;
}

.toggle-actions {
  display: flex;
  gap: 40px;
  padding: 60px 0px;
}

.card__header {
  border-bottom: 2px solid rgba(235, 235, 237, 1);
  text-align: center;
  padding: 10px 0px;
}

.divisor {
  height: 0;
  width: 50px;
  border: 1px solid rgba(235, 235, 237, 1);
  margin: 35px 0px;
}

.card > *:not(.card__header) {
  padding: 22px;
}


.margin-card {
  margin-bottom: 40px;
}


.fa-check{
  color:#0061ff;
}

.blue{
  color: #0061ff;
}

.white{
  color: #ffffff;
}
#mini{
  font-size: 15px;
}

/* prova per allineare le icone della lista 
.ul-icons-1{
  position: relative;
  padding-left: 10px;
}

.fa-solid{
  position: absolute;
  left: 10px;
} */
#card-4{
  height: auto;
}

.card{
  height: 1050px;
}

.space-line{
  padding: 8px 0px;
}

.btn.margin-card{
  width: 220px;
}


/* Partner */

.space-sect{
  margin: 200px 0px;
}

.font-partn{
  font-size: 20px;
  padding: 10px;
}

.font-partn > *{
  margin: 30px 0px;
}

.btn-2{
  font-size: 20px;
  padding: 5px;
  margin-top: 30px;
  display: block;
  background-color: white;
  border: 1px solid;
  width: 160px;
  height: 45px;
}




/* boolando/dropbox */

.product__thumbnails img {
	display: block;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.second-title{
  font-size: 50px;
  margin: 60px 0px;
}

.h3-title{
  font-size: 30px;
  margin: 20px 0px;
}

.normal-link{
  text-decoration:underline;
  color: #0061ff;
  margin: 30px 0;
}


/* colors */

.green{
  background-color: rgba(162, 211, 155, 1);
  border: 20px solid green;
}

.azure{
  background-color: rgba(0, 147, 206, 1);
}

.clear-red{
  background-color: rgba(255, 28, 28, 1);
}

.red{
  background-color: rgba(213, 0, 31, 1);
}

.blu-purp{
  background-color: rgba(13, 36, 129, 1);
}

.azure-clear{
  background-color: rgba(180, 208, 231, 1);
}

.yellow{
  background-color: rgba(255, 216, 48, 1);
}


 .col-33 > .col-50{
  padding: 80px;
}


/* debug */

.debug{
  border: 2px solid red;
  align-items: flex-start;
}



.row.unite {
  padding: 0;
}

.col-33.unite {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-50.unite {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-100.unite {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .debug {
    background-color: lightgray;
} 
*/

.row.unite{
  padding: 0px 0px;
}